h1 {
  color: #bebeca;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: Helvetica;
  padding: 4px 30px;
  padding-bottom: 20px;
}

h1 span {
  text-decoration: underline;
  cursor: pointer;
  color: #008dc9;
}

.data-loading-div {
  color: lightblue;
  text-align: center;
  font-size: large;
  font-weight: normal;
  font-family: Helvetica;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.dropdown {
  text-align: center;
}

.dropdown select {
  border: none;
  border-radius: 4px;
  font-size: small;
  background-color: #4e5b85;
  color: #add8e6;
  font-family: Helvetica;
}

.span-prev {
  float: left;
  padding-left: 50px;
}

.span-next {
  float: right;
  padding-right: 50px;
}

canvas {
  width: 80% !important;
  height: auto !important;
}

.chart-growth-container {
  padding-bottom: 20px;
  text-align: center;
  position: relative;
  padding-left: 50px;
}

.chart-growth-state-container {
  padding-bottom: 20px;
  text-align: center;
  position: relative;
  padding-left: 50px;
}
