.stats-header-span {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    text-align: center;
    font-size: x-large;
    font-weight: normal;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.stats-header-div {
    text-align: center;
}

.data-loading-div{
    text-align: center;
}

.data-loading-span {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    text-align: center;
    font-size: x-large;
    font-weight: normal;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.stats-red-highlight-span {
    padding: 3px;
    background-color: red;
    color: white;
    font-size: small;
}

.stats-red-highlight-desc-span {
    padding: 3px;
    font-size: small;
}

.stats-beige-highlight-span {
    padding: 3px;
    background-color: beige;
    font-size: small;
}

.stats-beige-highlight-desc-span {
    padding: 3px;
    font-size: small;
}

.stat-table-td {
    text-align: center;
    font-weight: bolder;
}

.stat-table-header {
    color: gray;
}

.stat-table-country-td {
    font-weight: bolder;
}

.stats-search-text {
    border: 0.5px solid gray;
    border-radius: 4px;
}

.sort-span {
    cursor: pointer;
}