.stats-header-span {
    background-color: rgb(243, 243, 243);/*rgb(243, 243, 243); #008dc9;*/
    color: darkslategray;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    font-weight: normal;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: Helvetica;
}

.countries-link {
    text-decoration: underline;
    cursor: pointer;   
    color: #008dc9;
}

.stats-header-div {
    text-align: center;
}

.data-loading-div{
    text-align: center;
}

.data-loading-span {
    text-align: center;
    font-size: x-large;
    font-weight: normal;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.stats-red-highlight-span {
    padding: 3px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: x-small;
}

.stats-red-highlight-desc-span {
    padding: 3px;
    font-size: x-small;
}

.stats-beige-highlight-span {
    padding: 3px;
    border-radius: 5px;
    background-color: beige;
    font-size: x-small;
}

.stats-beige-highlight-desc-span {
    padding: 3px;
    font-size: x-small;
}

.stat-table-td {
    text-align: center;
    font-weight: bolder;
}

.stat-table-header {
    color: gray;
    font-family: Helvetica;
}

.stat-table-state-td {
    font-weight: bolder;
    font-family: Helvetica;
}

.stats-search-text {
    border: 0.5px solid gray;
    border-radius: 4px;
    font-family: Helvetica;
}

.sort-span {
    cursor: pointer;
}

.state-stats-text {
    padding-left: 15px;
    font-size: 10px;
    color: gray;
    padding-bottom: 5px;
}