<div class="about-header-div">
    <span class="about-header-span">ABOUT YACT</span>
</div>
<div class="about-description">
    <div class="about-question">
        Why YACT?
    </div>
    <div class="about-answer">
        Most of the COVID-19 trackers I was following were either filled with ads or were information heavy. I wanted a
        tracker that gave me just enough information about COVID-19 without ads. Hence YACT - <strong>Yet Another
            COVID-19 Tracker.</strong>
    </div>
    <div class="about-question">
        Sources?
    </div>
    <div class="about-answer">
        For worldwide numbers Johns Hopkins CSSE <a class="about-links"
            href='https://github.com/CSSEGISandData/COVID-19'>github repo</a>. And for India numbers <a
            class="about-links" href='https://api.covid19india.org/'>api.covid19india.org</a>
    </div>
    <div class="about-question">
        How up to date are the numbers?
    </div>
    <div class="about-answer">
        Johns Hopkins updates their numbers once in a day around 23:59 UTC. The India numbers update is as per <a
            class="about-links" href='https://api.covid19india.org/'>api.covid19india.org</a> schedule. Regardless, I
        have a scheduler running every hour to fetch data and update.The numbers are
        NOT realtime.
    </div>
    <div class="about-question">
        Future updates?
    </div>
    <div class="about-answer">
        Just the routine maintenance and bug fixes I guess. No plans to add any new features. Maybe a light mode?
    </div> 
    <div class="about-question">
        Any contact info?
    </div>
    <div class="about-answer">
        For any queries or issues you can reach out to me at <a class="about-links" href="mailto:shadowfacsimile@gmail.com">shadowfacsimile@gmail.com</a>. Github repo - <a class="about-links"
            href="https://github.com/shadowfacsimile">ShadowFacsimile</a>
    </div>   
</div>