.summary-header-span {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    text-align: center;
    font-size: x-large;
    font-weight: normal;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.summary-header-div {
    text-align: center;
}

.total-cases-header, .total-deaths-header, .mortality-rate-header, .total-recoveries-header, .recovery-rate-header, .new-country-cases-header, .new-country-deaths-header {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    color: black;
    font-family: Segoe UI;
}

.total-cases-data, .total-deaths-data {
    text-align: center;
    font-size: 50px;
    color: gray;
}

.total-deaths-data, .mortality-rate-data  {
    text-align: center;
    font-size: 50px;
    color: red;
}

.total-recoveries-data, .recovery-rate-data  {
    text-align: center;
    font-size: 50px;
    color: limegreen;
}

.total-new-cases-data {
    text-align: center;
    font-size: 20px;
    color: gray;
    background-color: lightyellow;
}

.total-new-deaths-data {
    text-align: center;
    font-size: 20px;
    color: red;
    background-color: lightyellow;
}

.new-country-cases-data {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.new-country-deaths-data {
    text-align: center;
    font-size: 15px;
    color: gray;
}

