.summary-header-span {
    background-color: rgb(243, 243, 243);/*rgb(243, 243, 243); #008dc9;*/
    color: darkslategray;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    font-weight: normal;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: Helvetica;
}

.summary-header-div {
    text-align: center;
}

.data-loading-div{
    text-align: center;
}

.data-loading-span {
    text-align: center;
    font-size: large;
    font-weight: normal;
    font-family: Helvetica;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.total-cases-header, .total-deaths-header, .mortality-rate-header, .total-recoveries-header, .recovery-rate-header, .new-country-cases-header, .new-country-deaths-header {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    color: #555555;
    font-family: Helvetica;
}

.total-cases-data, .total-deaths-data {
    text-align: center;
    font-size: 50px;
    color: gray;
    font-family: Helvetica;
}

.total-deaths-data, .mortality-rate-data  {
    text-align: center;
    font-size: 50px;
    color: red;
    font-family: Helvetica;
}

.total-recoveries-data, .recovery-rate-data  {
    text-align: center;
    font-size: 50px;
    color: limegreen;
    font-family: Helvetica;
}

.total-new-cases-data {
    text-align: center;
    font-size: 20px;
    color: gray;
    background-color: lightyellow;
    font-family: Helvetica;
}

.total-new-deaths-data {
    text-align: center;
    font-size: 20px;
    color: red;
    background-color: lightyellow;
    font-family: Helvetica;
}

.new-country-cases-data {
    text-align: center;
    font-size: 15px;
    color: gray;
    font-family: monospace;
}

.new-country-deaths-data {
    text-align: center;
    font-size: 15px;
    color: gray;
    font-family: monospace;
}

.india-stats-header-span {
    /*background-color: rgb(210, 223, 241);*/
    color: darkslategrey;
    font-size: small;
    font-family: Helvetica;
    text-align: center;    
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.india-stats-header-div {
    text-align: center;
}