.total-cases-header, .total-deaths-header, .mortality-rate-header, .total-recoveries-header, .total-newcases-header, .total-newdeaths-header {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    color: black;
    font-family: Segoe UI;
}

.total-cases-data, .total-deaths-data, .mortality-rate-data {
    text-align: center;
    font-size: 50px;
    color: gray;
}

.total-deaths-data {
    text-align: center;
    font-size: 50px;
    color: red;
}

.total-recoveries-data {
    text-align: center;
    font-size: 50px;
    color: limegreen;
}

.total-newcases-data {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.total-newdeaths-data {
    text-align: center;
    font-size: 15px;
    color: gray;
}