<div class="corona-header">Yet Another Novel Coronavirus COVID-19 Outbreak Statistics Tracker</div>
<app-alerts></app-alerts>
<br>
<div class="source-header">Updated daily from the data provided by <a href="https://github.com/CSSEGISandData/COVID-19">JHU CSSE Github repo</a></div>
<br>
<nav class="nav-of-external-links">    
    <a class="route-links" routerLink="/summary-stats">Summary Statistics</a> /
    <a class="route-links" routerLink="/stats-by-country">Statistics By Countries</a> /
    <a class="route-links" routerLink="/case-growth-factor">Growth Factor By Date</a> /
    <a class="external-links" href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">COVID-19 Facts</a> /
    <a class="external-links" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">WHO Advice For Public</a> /
    <a class="external-links" href="https://www.thehindu.com/news/resources/coronavirus-state-helpline-numbers-for-covid-19/article31052031.ece">India COVID-19 Helpline Numbers</a>
</nav>
<br>
<router-outlet></router-outlet>