.corona-header {
    background-color: #008dc9;/*rgb(131, 172, 226);*/
    color: white;
    font-size: 30px;
    font-family: Helvetica;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.source-header {
    text-align: center;
    font-size: 10px;
    color: gray;
}

.external-links {
    text-align: center;
    text-decoration: underline;
    font-size: 13px;
    font-weight: 450;    
    color: limegreen;
    font-family: Helvetica;
}

.route-links {
    text-align: center;
    text-decoration: underline;
    font-size: 13px;
    font-weight: 450; 
    color: #008dc9;
    font-family: Helvetica;
}

.nav-of-external-links {
    text-align: center;
}

.nav-of-routes {
    text-align: center;
}

.footer-text {
    text-align: center;
    font-size: 12px;
    font-family: Helvetica;
}

.active {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;  
    color: #f54c54;
    font-family: Helvetica;
}