<div class="corona-header"><strong>Yet Another Novel Coronavirus COVID-19 Pandemic Statistics Tracker</strong></div>
<app-alerts></app-alerts>
<br>
<nav class="nav-of-routes">
    <a class="route-links" routerLink="/summary-stats" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">summary</a><span class="backslash"> / </span>
    <a class="route-links" routerLink="/stats-by-country"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">countries</a><span class="backslash"> / </span>
    <a class="route-links" routerLink="/cases-trend-by-country" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">cases trend</a><span class="backslash"> / </span>
    <a class="route-links" routerLink="/deaths-trend-by-country"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">deaths trend</a>
</nav>
<br>
<br>
<router-outlet></router-outlet>

<hr>
<div class="footer-text"><span>© 2020 <a class="footer-links" href="https://github.com/shadowfacsimile">ShadowFacsimile</a> / Source: Johns
        Hopkins CSSE <a class="footer-links" href='https://github.com/CSSEGISandData/COVID-19'>github repo</a> /</span></div>
<br>