.corona-header {
    background-color: rgb(131, 172, 226);
    color: white;
    font-size: 30px;
    font-family: monospace;
    text-align: center;
}

.source-header {
    text-align: center;
}

.route-links {
    text-align: center;
    text-decoration: underline;
}

.nav-of-routes {
    text-align: center;
}