<div class="growth-header-div"><span class="growth-header-span">Novel Coronavirus COVID-19 Cases Growth Factor</span></div>
<br>
<div *ngIf=!dates class="data-loading-div"><span class="data-loading-span">Data Loading...</span></div>
<span *ngIf=growthFactorToday class="growth-beige-highlight-span">Growth Factor Today - {{growthFactorToday.growthFactor | number}} / </span>    
<span *ngIf=growthFactorToday class="growth-beige-highlight-span">Growth Factor Yesterday - {{growthFactorYesterday.growthFactor | number}} / </span>    
<span *ngIf=growthFactorToday class="growth-beige-highlight-span">Growth Factor Week Back - {{growthFactorWeek.growthFactor | number}} / </span>    
<span *ngIf=growthFactorToday class="growth-beige-highlight-span">Growth Factor 3 Weeks Back - {{growthFactorThreeWeeks.growthFactor | number}} / </span>
<span *ngIf=growthFactorToday class="growth-beige-highlight-span">Growth Factor Month Back - {{growthFactorMonth.growthFactor | number}} / </span>
<br>
<br>
<div class="chart-container" *ngIf=dates>
    <div style="position: relative; height:40vh; width:80vw">
      <canvas baseChart
              [datasets]="lineGraphData"
              [labels]="lineGraphLabels"
              [options]="lineGraphOptions"
              [legend]="lineGraphLegend"
              [chartType]="lineGraphType">
      </canvas>
    </div>
</div>