.alert-header-div {
    background-color: rgba(32,26,162,.12549);
    color: rgba(32,26,162,.866667);
    font-size: 12px;
    font-family: monospace;
    text-align: center;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
}