body {
  background-color: #353f5c;
  padding-bottom: 50px;
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

hr {
  border: 0.2px solid #4d5b85;
}

section {
  text-align: center;
  font-size: 10px;
  font-family: Helvetica;
  color: #add8e6;
  padding-bottom: 10px;
}

section a {
  color: #008dc9;
}
